*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 300;
    /*background-color: #F2F0D9;*/
    background-color: #f0ede8;
}

button {
    all: unset
}

#root {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 80px 1fr;
}

#header {
    height: 80px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 72px;
    font-weight: 200;
}

#body {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

#center-display {
    order: 2;
    flex: 1 0 0%;
    height: 100%;
}

#point-display {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    font-weight: 400;
}

#passive-points-display {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 400;
}


/*COUNTDOWN TIME */
#countdown {
    position: relative;
    width: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
}


#countdown-bar-container {
    position: relative;
    border-style: solid;
    border-radius: 20px;
    height: 25px;
    width: 100%;
}

#countdown-bar {
    position: relative;
    background-color: rgb(0, 101, 0);
    border-radius: 20px;
    height: 100%;

}

/*TEXT INPUT*/

#main-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    border-radius: 25px;
    width: 60%;
    height: 40%;
    margin: 0;
    font-size: 32px;
    overflow: hidden;

}



#text-input-container {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}


#main-input {
    position: absolute;
    background-color: black;
    font-size: 32px;
    width: 2px;
    border-style: solid;
    border-color: black;
    border: 0;
    /*line-height: 4rem;*/
}

/*.char {
    line-height: 4rem;
}*/

#current-paragraph {
    display: inline;
    position: relative;
}


.correct {
    color: green;
}

.incorrect {
    color: red;
}

#passive-store {
    order: 1;
    margin-left: 50px;
}

#upgrade-store {
    order: 3;
    margin-right: 50px;
}

.store {
    position: relative;
    text-align: center;
    padding: 10px;
    width: 15%;
    min-width: 300px;
    align-self: start;
    font-size: 36px;
    height: 90%;
    display: grid;
    grid-template-rows: 1fr 10fr;
}



.menu-scene {
    position: relative;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    border: solid 1px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.purchase-btn-li {
    flex: 1 1 100px;
    border-bottom: solid 1px;
    width: 100%;
}

.purchase-btn {
    position: relative;
    width: 100%;
}

.purchase-btn-text {
    font-size: 16px;
    font-weight: 400;
}



.locked {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: darkgray;
}