* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 800;
    background-color: hsl(54, 50%, 90%);
    color: hsl(23, 15%, 34%);
}
button {
    all: unset
}

#root {
    height: 100vh;
}

#point-display {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
}

#passive-points-display {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}


/*COUNTDOWN TIME */
#countdown {
    position: relative;
    width: 50%;
    height: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
}

#countdown-bar {
    position: relative;
    background-color: red;
    height: 100%;
}

/*TEXT INPUT*/

#main-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    width: 50%;
    height: 30%;
    margin: 0;
    font-size: 32px;
    overflow: hidden;
}



#text-input-container {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
}

#main-input {
    position: absolute;
    background-color: black;
    font-size: 32px;
    width: 2px;
    border-style: solid;
    border-color: black;
    border: 0;
}

#current-paragraph {
    display: inline;
    position: relative;
}


.correct {
    color: green;
}

.incorrect {
    color: red;
}

.container {

    background-color: gray;
    text-align: center;
    padding: 10px;
}

#passive-container {
    position: absolute;
    left: 2.5%;
    top: 5%;
    width: 15%;
    height: 85%;
}

#upgrade-container {
    position: absolute;
    right: 2.5%;
    top: 5%;
    width: 15%;
    height: 85%;
}


.menu-scene {
    position: absolute;
    border: 2px solid black;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    gap: 10px;
    height: 90%;
}

.purchase-btn-li {
    position: relative;
    width: 90%;
    background-color: white;
    flex-basis: 20%;
    color: black;
}

.purchase-btn {
    height: 100%;
    width: 100%;
}

.locked {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: darkgray;
}